$textColor: #fff;
$textSecondColor: #2D2E46;
$errorColor: #ff0000;
$primaryColor: #21268F;
$bgColor: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
$bgSecondColor: #F9F9FE;
$grayColor: #D7D8EF;
$titleFontFamily: 'Poppins';
$textFontFamily: 'Open Sans', sans-serif;